extends layout

block content
  h1 #{title}

  p #[strong Company: ]
    a(href=game.company.url) #{game.company.name}
  p #[strong Genre: ]
    each val, index in game.genre
      a(href=val.url) #{val.name}
      if index < game.genre.length - 1
        |,&nbsp;  
  p #[strong Price:] #{game.price === 0 ? "Free to Play" : game.price}
  if (game.price === 0)
    p #[strong Game codes in stock:] Infinite, this game is free to play.
  else 
    p #[strong Game codes in stock:] #{game.numberInStock}

  p #[strong Description:] #{game.description}
  
  hr
  p
    a(href=game.url+'/delete') Delete Game
  p
    a(href=game.url+'/update') Update Game