extends layout

block content
    h1 #{title}: #{genre.name}
    p Do you really want to delete this genre?
        form(method='POST')
            div.form-group
                input#genreid.form-control(type='hidden', autocomplete="off" name='genreid', value=genre._id )

            button.btn.btn-primary(type='submit') Delete
    if (gamesInGenre.length)
        p #[strong Deleting the genre will remove it from the following games.]
        div(style='margin-left:20px;margin-top:20px')
        ul
            each val, index in gamesInGenre
                li
                    a(href=val.url) #{val.name}
        
    